.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.flag-container{
    display: flex;
    flex-wrap: wrap;
}
.flag-container img{
    width: 100px;
    margin: 10px;
}
.side{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}